.shop {
  &__title {
    padding: 48px 0;
    font-family: $ruda;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: $dark-900;

    @include max-w($xm) {
      padding: 30px 0;
      font-size: 30px;
    }
  }

  &__inner {
    display: flex;

    @include max-w($xm) {
      display: block;
    }
  }
}

.shop-content {
  &__filter {
    padding: 0 15px;
    margin-bottom: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include max-w($l) {
      justify-content: flex-start;
    }

    @include max-w($xm) {
      margin-bottom: 30px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .products {
    padding: 0 0 72px 0;
    text-align: left;
    min-height: 0;

    @include max-w($xm) {
      padding: 0 0 36px 0;
    }

    &__item {
      width: calc((100% / 3) - 30px);
      margin: 0 15px 30px;

      @include max-w($xm) {
        width: calc((100% / 3) - 20px);
        margin: 0 5px 10px;
      }

      @include max-w($xs) {
        width: calc((100% / 2) - 20px);
        margin: 0 5px 10px;
      }

      &.products__item--list {
        width: calc((100% / 2) - 30px);

        @include max-w($l) {
          width: calc((100% / 2) - 30px);
          margin: 0 5px 10px;
        }

        .product-card {
          max-height: 162px;
          max-width: 466px;
          min-height: 0;
          padding: 8px 8px 12px;
          flex-direction: row;

          &__badges {
            top: 6px;
            left: 6px;
            z-index: 1;
          }

          .badge {
            &--new {
              margin-bottom: 6px;
            }
          }

          &__img {
            width: 200px;
            height: 145px;

            @include max-w($xl) {
              width: 150px;
            }

            @include max-w($l) {
              width: 110px;
            }
          }

          &__wrap {
            height: 140px;
          }

          &__name {
            max-width: 178px;
            width: 100%;
            margin-bottom: 17px;
            padding: 0;

            @include max-w($xl) {
              max-width: 150px;
            }

            @include max-w($l) {
              max-width: 165px;
            }
          }

          .btn-heart {
            top: 59px;
          }

          .btn--cart {
            right: 12px;
            bottom: 12px;
          }
        }

        .availability-box {
          display: flex;
          max-width: 238px;
          width: 100%;
          padding: 0;
          margin-bottom: 12px;
        }

        .price {
          padding: 0;
        }
      }
    }
  }

  .product-card__link {
    margin-bottom: 0;
  }
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: $silver-100;
  border-radius: 3px;

  &--active {
    .filter-btn__icon {
      fill: $green-900;
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: $silver-600;
  }

  &--list,
  &--grid {
    @include max-w($xm) {
      display: none;
    }
  }
}

.filters-menu {
  display: none;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: $silver-100;
  border-radius: 3px;

  @include max-w($l) {
    display: flex;
  }

  &__icon--filter {
    width: 32px;
    height: 34px;
    fill: $green-900;
  }
}

.filters {
  max-width: 300px;
  width: 100%;
  margin-right: 15px;

  @include max-w($l) {
    display: none;
  }

  &__item {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;

    &--active {
      padding-bottom: 18px;
    }
  }

  &__title {
    padding: 18px 24px 18px 18px;
    width: 100%;
    display: flex;
    font-family: $ruda;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    color: $dark-900;
  }

  &__btn {
    position: relative;
    text-align: left;

    &::after {
      @include pseudo;
      background-image: url('../../images/icons/icon-arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 11px;
      height: 18px;
      top: 25px;
      right: 25px;
      transform: rotate(90deg);
      filter: invert(1);
      transition: transform 0.5s;
    }

    &--active.filters__btn::after {
      transform: rotate(-90deg);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }
  }

  &__sub-list {
    display: none;
    position: sticky;
    left: 0;
    top: 100%;
    padding: 18px 18px 2px 18px;
    max-height: 364px;
    overflow-y: scroll;
    border-top: 1px solid $silver-600;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $silver-600;
      border: 1px solid $white;
    }
  }

  &__sub-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.filter-price {
  &__form {
    padding: 0 24px 18px 18px;
  }
}

.price-range {
  padding: 0 24px 0 18px;

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $ruda;
    font-size: 16px;
    line-height: 1.2;
    color: $silver-600;
  }

  &__from {
    margin-right: 24px;
  }

  &__from,
  &__to {
    display: flex;
    align-items: center;
  }

  &__input {
    display: block;
    padding: 12px 20px;
    width: 80px;
    height: 40px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    text-align: center;
    transition: box-shadow 0.5s;

    &--from,
    &--to {
      margin: 0 6px;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }
  }
}

.filters-form {
  &__label {
    padding-left: 36px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.filters-form__checkbox {
      background-image: url('../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center center;
      border-color: $dark-500;
    }
  }

  &__checkbox {
    position: absolute;
    margin-left: -36px;
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    transition: border-color 0.5s;

    &:hover {
      border-color: $dark-500;
    }
  }
}

.pagination {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include max-w($xm) {
    flex-direction: column;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    border-radius: 3px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;

    &:not(:last-child) {
      margin-right: 6px;
    }

    @include max-w($xm) {
      &:nth-child(3) {
        display: none;
      }

      &:nth-child(5) {
        display: none;
      }
    }
  }


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    transition: box-shadow 0.5s;
    outline: 0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      border: 1px solid $silver-600;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--active {
      border: 1px solid $dark-500;
    }
  }

  &__arrow {
    width: 11px;
    height: 18px;
  }

  .btn {
    @include max-w($xm) {
      margin-bottom: 24px;
    }
  }
}