.shop {
  &__title {
    padding: 48px 0;
    font-family: $ruda;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: $dark-900;
  }
}

.filters {
  max-width: 300px;
  width: 100%;

  &__item {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;

    &--active {
      padding-bottom: 18px;
    }
  }

  &__title {
    padding: 18px 24px 18px 18px;
    width: 100%;
    display: flex;
    font-family: $ruda;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    color: $dark-900;
  }

  &__btn {
    position: relative;
    text-align: left;

    &::after {
      @include pseudo;
      background-image: url('../../images/icons/icon-arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 11px;
      height: 18px;
      top: 25px;
      right: 25px;
      transform: rotate(90deg);
      filter: invert(1);
      transition: transform 0.5s;
    }

    &--active.filters__btn::after {
      transform: rotate(-90deg);
    }
  }

  &__sub-list {
    display: none;
    position: sticky;
    left: 0;
    top: 100%;
    padding: 18px 18px 0 18px;
    max-height: 364px;
    overflow-y: scroll;
    border-top: 1px solid $silver-600;
    z-index: 1;
  }

  &__sub-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}