.jq-selectbox__select {
  background: $white;
  border: 1px solid $silver-600;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $dark-500;
  box-shadow: none;
  text-shadow: none;
}