.discounts {
  padding: 72px 0;
  text-align: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  &__item {
    width: calc(25% - 30px);
    margin: 0 15px 30px;
  }
}

.product-card-mini {
  &__link {
    position: relative;
    display: flex;
    max-width: 300px;
    width: 100%;
    height: 124px;
    padding: 12px;
    border: 1px solid $silver-600;
    border-radius: 6px;
  }

  &__img {
    width: 100px;
    object-fit: cover;
    margin-right: 12px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 164px;
    height: 100px;
    text-align: start;
  }

  &__name {
    font-weight: 600;
    @include lineClamp(3);
  }

  &__bottom {
    width: 100%;
    font-weight: 600;
    line-height: 1;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.availability {
  margin-bottom: 5px;
  font-size: 10px;
  color: $green-900;
  text-transform: uppercase;

  &--end {
    color: $red-900;
  }

  &--finish {
    color: $silver-600;
  }
}

.price-mini {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  margin-right: 4px;
  max-width: 119px;
  width: 100%;

  &__new {
    margin-right: 12px;
    font-size: 20px;
    color: $dark-500;
  }

  &__currency {
    font-size: 15px;
  }

  &__old {
    font-weight: 400;
    font-size: 12px;
    color: $silver-600;
  }
}

.rate {
  display: flex;
  align-items: center;

  &__num {
    font-weight: 700;
    color: $dark-500;
  }
}