.promo {
  padding-bottom: 72px;

  &__list {
    display: grid;
    grid-template-columns: 630px 300px 300px;
    grid-template-rows: 300px;
    grid-gap: 30px;
    font-size: 14px;
    color: $white;
    line-height: 1;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
  }

  &__item {
    padding: 76px 32px;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--fruits {
      background-image: url('../images/bg/promo-bg/fruits-bg.png');
    }

    &--veg {
      background-image: url('../images/bg/promo-bg/veg-bg.png');
    }

    &--bread {
      background-image: url('../images/bg/promo-bg/bread-bg.png');
    }
  }

  &__suptitle {
    margin-bottom: 18px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 12px;
    font-family: $ruda;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

    &--big {
      max-width: 364px;
      width: 100%;
    }
  }

  &__link {
    padding-bottom: 6px;
    border-bottom: 2px solid $white;
  }
}