html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $dark-500;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  object-fit: contain;
  margin-right: 30px;
}

.product-status {
  border: 1px solid rgba($dark-900, 0.2);
  transition: border 0.5s;

  &:hover {
    border: 1px solid $green-900;
  }
}

.title {
  margin-bottom: 30px;
  font-family: $ruda;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;

  @include max-w($l) {
    margin-bottom: 24px;
  }

  @include max-w($m) {
    font-size: 24px;
  }
}

.badge {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $white;
  padding: 3px 6px;
  border-radius: 6px;
  text-transform: uppercase;

  &--new {
    background-color: $green-900;
    margin-bottom: 9px;
  }

  &--discount {
    background-color: $red-900;
    max-width: 37px;
    width: 100%;
  }

  &--hit {
    background-color: $orange-900;
  }
}

.icon {
  transition: fill 0.5s, opascity 0.5s;
  fill: $white;
}

.status {
  transition: opacity 0.5s, box-shadow 0.5s, color 0.5s;
  border-radius: 3px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $green-200;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }

  &:active .icon {
    fill: $green-200;
  }
}