html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $dark-500;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {

  &__img {
    object-fit: cover;

    width: 200px;
    height: 60px;
  }
}

.btn {
  font-size: 18px;
  font-weight: 400;
  color: $white;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border-radius: 6px;
  background-color: $green-900;
  transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
}

.icon {
  transition: fill 0.5s;
  fill: $white;
}

.title {
  margin-bottom: 30px;
  font-family: $ruda;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
}

.filter-mix {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;

    &.mixitup-control-active {
      border-bottom: 2px solid $green-900;
      color: $green-900;
    }
  }
}

.badge {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $white;
  padding: 3px 6px;
  border-radius: 6px;

  &--new {
    background-color: $green-900;
    margin-bottom: 9px;
  }

  &--discount {
    background-color: $red-900;
    max-width: 37px;
    width: 100%;
  }

  &--hit {
    background-color: $orange-900;
  }
}

.status {
  transition: opacity 0.5s, box-shadow 0.5s;
  border-radius: 3px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $green-200;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }

  &:active .icon {
    fill: $green-200;
  }
}

.btn-status {
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-999;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
  }

  &:active .icon {
    opacity: 0.5;
  }
}

.filter-status {
  transition: color 0.5s, box-shadow 0.5s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $green-200;
  }

  &:hover {
    color: $green-999;
    border-bottom: 2px solid $green-999;
  }

  &:active {
    border-bottom: 2px solid $green-200;
  }
}