html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %open-sans-400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  font-size: 0;
}

.slick-prev img {
  display: inline-block;
}

.slick-next img {
  display: inline-block;
}

.slick-next {
  right: 60px;
}

.slick-prev {
  left: 60px;
}

.slick-prev,
.slick-next {
  top: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}


.title {
  margin-bottom: 30px;
  @extend %ruda-500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    @extend %open-sans-700;
    font-size: 15px;
    text-transform: uppercase;
  }
}