.header {
  display: flex;
  flex-direction: column;

  &__top {
    background-color: $dark-green;
  }

  &__bottom {
    background-color: $green;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;

  @extend %open-sans-700;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;

  &__contact {
    display: flex;
    justify-content: space-between;
  }

  &__contact-item {
    margin: auto 0;
  }

  &__contact-item {
    position: relative;
    padding-left: 34px;
  }

  &__contact-item::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 32px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__contact-item--del {
    margin-right: 48px;
    padding-left: 44px;
  }

  &__contact-item--del::before {
    background-image: url("../images/icons/icon-del.svg");
  }

  &__contact-item--tel::before {
    background-image: url("../images/icons/icon-tel.svg");
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-item:not(:last-child) {
    margin-right: 24px;
  }
}

.finder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 845px;
  width: 100%;
  color: $dark-green;
}

.accordeon {
  position: relative;
  display: flex;
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
  padding: 15px 50px;
  background-color: $white;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.catalog {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 25px;
    height: 17px;
    transform: translateY(-50%);
    background-image: url('../images/icons/icon-nav.svg');
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 28px;
    width: 7px;
    height: 4px;
    transform: translateY(0);
    background-image: url('../images/icons/icon-arrow.svg');
  }

  &__list {
    width: 100%;
    display: none;
    height: 600px;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 50px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 0 rgba(99, 166, 14, 0.2);
  border-radius: 6px 0 0 6px;

  &::before {
    content: "";
    position: absolute;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__field {
    width: 100%;
  }

  &__btn {
    margin-right: 15px;
    padding: 15px 52px;
    max-width: 157px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    background-color: $dark-green;
    @extend %open-sans-600;
    color: $white;
    text-transform: uppercase;
  }

}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__link {
    position: relative;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__link:not(:last-child) {
    margin-right: 24px;
  }

  &__link--user {
    background-image: url('../images/icons/icon-user.svg');
  }

  &__link--heart {
    background-image: url('../images/icons/icon-heart.svg');
  }

  &__link--cart {
    background-image: url('../images/icons/icon-cart.svg');
  }

  &__num {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;

    @extend %open-sans-600;
    text-align: center;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #CF3E3B;
  }
}