.header {
  display: flex;
  flex-direction: column;

  &__top {
    background-color: $dark-green;
  }

  &__bottom {
    background-color: $green;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;

  font-weight: 700;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;

  &__contact {
    display: flex;
    justify-content: space-between;
  }

  &__contact-item:not(:last-child) {
    margin-right: 48px;
  }

  &__contact-link {
    display: flex;
    align-items: center;
  }

  &__contact-link-icon {
    margin-right: 12px;
    width: 32px;
    height: 22px;
  }


  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-item:not(:last-child) {
    margin-right: 24px;
  }
}

.finder {
  display: flex;
  align-items: center;
  max-width: 845px;
  width: 100%;
  color: $dark-green;
}

.accordeon {
  position: relative;
  display: flex;
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
  padding: 15px 50px;
  background-color: $white;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: border-radius 0.3s, background-color 0.5s, transform 0.5s;
  cursor: pointer;

  &:hover {
    background-color: $light-green;
    border-radius: 6px 6px 0 0;
  }

  &:hover .catalog__list {
    transform: scaleY(1);
  }

  &:hover .catalog::after {
    transform: rotate(180deg);
  }
}

.catalog {

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 25px;
    height: 17px;
    transform: translateY(-50%);
    background-image: url('../images/icons/icon-nav.svg');
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 28px;
    width: 7px;
    height: 4px;
    transform: translateY(0);
    background-image: url('../images/icons/icon-arrow.svg');
    transition: transform 0.5s;
  }

  &__list {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    width: 180px;
    width: 100%;
    height: 600px;
    background-color: $white;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: transform 0.9s;
    border-radius: 0 0 6px 6px;
  }

  &__item {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    transition: color 0.5s;
    cursor: pointer;
  }

  &__item:hover {
    color: $green;
    border-left: 3px solid $green;
  }

  &__item:active {
    color: $dark-silver;
  }

  &__link {
    display: block;
    padding: 15px 24px;
    outline: 0;
    transition: box-shadow 0.5s;
  }

  &__link:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $light-green;
  }
}

.search {
  position: relative;
  margin-right: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 0 rgba(99, 166, 14, 0.2);

  &::before {
    content: "";
    position: absolute;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../images/sprite.svg#icon-search"); // не смог разобраться как покрасить изрбражение в бекграунде
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__wrap {
    display: flex;
    max-width: 576px;
    width: 100%;
  }

  &__field {
    width: 100%;
    padding: 14px 50px;
    border-radius: 6px 0 0 6px;
  }

  &__btn {
    @extend %form-btn;
    max-width: 157px;
    padding: 15px 52px;
    background-color: $dark-green;
    font-weight: 600;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
  }

  &__btn:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  }

  &__btn:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }


  &__btn:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
  }

  &__link:not(:last-child) {
    margin-right: 10px;
  }

  &__link-icon {
    width: 32px;
    height: 28px;
  }

  &__num {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;

    font-weight: 600;
    text-align: center;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #CF3E3B;
  }
}