.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;

  &__top {
    background-color: $dark-800;
  }

  &__top-wrap {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
  }

  &__bottom {
    background-color: $green-900;
  }

  &__bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
}

.contact {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 12px;
    width: 32px;
    height: 22px;
  }
}

.info {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.header__finder {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 845px;
  width: 100%;
  color: $dark-800;
}

.catalog {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  margin-right: 30px;
  position: relative;

  &__btn {
    padding: 15px 40px 15px 58px;
    background-color: $white;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $green-900;
    text-transform: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 17px;
      width: 25px;
      height: 17px;
      transform: translateY(-50%);
      background-image: url('../images/icons/icon-nav.svg');
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 19px;
      width: 7px;
      height: 4px;
      background-image: url('../images/icons/icon-arrow.svg');
      transition: transform 0.5s, background-color 0.5s;
    }

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;
    }

    &--active.catalog__btn::after {
      transform: rotate(-180deg);
    }
  }

  &__list {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    height: 600px;
    background-color: $white;
    border-radius: 0 0 6px 6px;
  }

  &__item {
    font-weight: 400;
    letter-spacing: 0.03em;
    border-bottom: 1px solid rgba($silver-600, 0.3);
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    transition: color 0.5s;
    text-transform: none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
    }

    &:active {
      color: $silver-600;
    }
  }

  &__link {
    display: block;
    padding: 15px 24px;
    outline: 0;
    transition: box-shadow 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }
  }
}

.search-main {
  margin-right: 15px;
  display: flex;
  align-items: center;
  max-width: 576px;
  width: 100%;
  box-shadow: 0 0 0 rgba($green-900, 0.2);

  &__label {
    display: flex;
    width: 100%;
    padding: 13px 50px 13px 13px;
    border-radius: 6px 0 0 6px;
    transition: box-shadow 0.5s;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $dark-800;
    background-color: $white;

    &:active .search-main__icon {
      opacity: 0.5;
    }
  }

  &__icon {
    margin-right: 19px;
    width: 20px;
    height: 20px;
  }

  &__field {
    outline: 0;
  }

  &__btn {
    width: 100%;
    border-radius: 0 6px 6px 0;
    color: $white;
    text-transform: uppercase;
    max-width: 157px;
    padding: 15px 52px;
    background-color: $dark-800;
    font-weight: 600;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
      color: rgba($white, 0.5);
    }
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba($white, 0);
    transition: opacity 0.5s, box-shadow 0.5s, background-color 0.5s;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 32px;
      height: 31px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--user::after {
      background-image: url("../images/icons/icon-user.svg");
    }

    &--heart::after {
      background-image: url("../images/icons/icon-heart.svg");
    }

    &--cart::after {
      background-image: url("../images/icons/icon-cart.svg");
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
      background-color: rgba($white, 0.1);
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &:active {
      background-color: rgba($white, 0.1);
      opacity: 0.7;
    }
  }

  &__num {
    position: absolute;
    top: 2px;
    left: 2px;
    padding: 4px;
    border-radius: 9px;
    background-color: $white;
    font-weight: 600;
    text-align: center;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $red-900;
    z-index: 1;
  }
}