@mixin lineClamp ($line) {
  -webkit-line-clamp: $line;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin max-w($width) {
  @media (max-width: $width) {
    @content;
  }
}