.products {
  padding: 72px 0;
  text-align: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
  }

  &__item {
    width: calc((100% / 4) - 30px);
    margin: 0 15px 30px;
  }

  &__btn {
    padding: 12px 24px;
    color: $green-900;
    background-color: transparent;
    border: 1px solid $green-900;
  }

  &__btn:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($green-900, 0.5);
  }

  &__btn:hover {
    background-color: $green-200;
  }

  &__btn:active {
    color: rgba(99, 166, 14, 0.5);
    box-shadow: inset 0 10px 4px rgba($black, 0.1);
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  width: 100%;
  height: 409px;
  padding: 57px 1px 18px;
  border: 1px solid rgba($dark-900, 0.2);
  border-radius: 6px;
  text-align: start;
  transition: border-radius 0.5s;

  &:hover {
    border: 1px solid $green-900;

    .product-card__popup {
      opacity: 1;
    }
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__popup-icon {
    width: 20px;
    height: 20px;
    fill: $green-900;
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 18px;
    object-fit: contain;
  }

  &__name {
    padding: 0 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: $dark-900;
  }
}

.btn-heart {
  position: absolute;
  top: 17px;
  right: 12px;

  &__icon {
    fill: $silver-600;
    width: 32px;
    height: 28px;
    transition: box-shadow 0.5s, fill 0.5s, opacity 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      fill: $orange-900;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.btn-cart {
  position: absolute;
  bottom: 18px;
  right: 18px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: $green-900;

  &__icon {
    margin: auto;
    display: block;
    width: 16px;
    height: 16px;
  }
}

.price {
  padding: 0 18px;
  margin-top: auto;
  line-height: 1;

  &--crossed {
    padding: 0;
    position: relative;
    display: block;
    margin-bottom: 2px;
    color: $silver-600;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $silver-600;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: rotate(-15deg);
    }
  }
}