.products {
  padding: 72px 0;
  text-align: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
  }

  &__item {
    width: calc((100% / 4) - 30px);
    margin: 0 15px 30px;
  }

  &__btn {
    @extend %btn;
    background-color: transparent;
    border: 1px solid $green-900;
    color: $green-900;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
  }

  &__btn:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($green-900, 0.5);
  }

  &__btn:hover {
    background-color: $green-200;
  }

  &__btn:active {
    color: rgba(99, 166, 14, 0.5);
    box-shadow: inset 0 10px 4px rgba($black, 0.1);
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  width: 100%;
  height: 409px;
  padding: 57px 1px 18px;
  border: 1px solid rgba($dark-900, 0.2);
  border-radius: 6px;
  text-align: start;
  transition: border-radius 0.5s;

  &:hover {
    border: 1px solid $green-900;

    .product-card__popup {
      opacity: 1;
    }
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__popup-icon {
    width: 20px;
    height: 20px;
    fill: $green-900;
  }

  &__bedge {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
  }

  &__bedge-new,
  &__bedge-red,
  &__bedge-hit {
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    padding: 3px 6px;
    border-radius: 6px;
  }

  &__bedge-new {
    max-width: 66px;
    width: 100%;
    background-color: $green-900;
    margin-bottom: 9px;
  }

  &__bedge-red {
    background-color: $red-900;
    max-width: 37px;
    width: 100%;
  }

  &__bedge-hit {
    background-color: $orange-900;
    max-width: 34px;
    width: 100%;
  }

  &__img {
    margin-bottom: 18px;
    object-fit: contain;
  }

  &__name {
    padding: 0 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: $dark-900;
  }

  &__price {
    padding: 0 18px;
    margin-top: auto;
    line-height: 1;
  }

  &__price--crossed {
    padding: 0;
    position: relative;
    display: block;
    margin-bottom: 2px;
    color: $silver-600;
  }

  &__price--crossed::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $silver-600;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: rotate(-15deg);
  }

  &__btn {
    position: absolute;
    bottom: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: $green-900;
  }

  &__btn-icon {
    margin: auto;
    display: block;
    width: 16px;
    height: 16px;
  }

  &__btn-heart {
    position: absolute;
    top: 17px;
    right: 12px;
  }

  &__btn-heart-icon {
    fill: $silver-600;
    width: 32px;
    height: 28px;
    transition: box-shadow 0.5s, fill 0.5s, opacity 0.5s;
  }

  &__btn-heart-icon:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &__btn-heart-icon:hover {
    fill: $orange-900;
  }

  &__btn-heart-icon:active {
    opacity: 0.5;
  }
}