.top-slider {
  min-height: 600px;

  &__item {
    display: flex;
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__wrap {
    margin: auto auto;
  }

  &__inner {
    min-height: 315px;
    padding: 24px 24px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &__title {
    width: 100%;
    max-width: 740px;
    margin-bottom: 12px;
    @extend %ruda-900;
    line-height: 1.3;
    font-size: 60px;
    text-transform: uppercase;
  }

  &__title--red {
    color: $red;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
    @extend %btn;
  }
}

.advantage {
  background-color: $silver;
  padding: 49px 29px 29px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding-left: 74px;
    max-width: 264px;
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
  }

  &__item--del::before {
    background-image: url("../images/icons/advantages-icons/del.svg");
  }

  &__item--return::before {
    background-image: url("../images/icons/advantages-icons/return.svg");
  }

  &__item--support::before {
    background-image: url("../images/icons/advantages-icons/support.svg");
  }

  &__title {
    margin-bottom: 6px;
    @extend %open-sans-600;
    font-size: 16px;
    line-height: 1.3;
    color: $dark;
  }

}