.top-slider {
  min-height: 600px;

  &__item {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__inner {
    min-height: 315px;
    padding: 24px 24px;
    border-radius: 4px;
    background-color: rgba($white, 0.8);
  }

  &__title {
    width: 100%;
    max-width: 964px;
    margin-bottom: 12px;
    font-family: $ruda;
    font-weight: 900;
    line-height: 1.3;
    font-size: 60px;
    text-transform: uppercase;
  }

  &__title--red {
    display: block;
    color: $red-900;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
    @extend %btn;
  }
}