$black: #000000;

$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;

$silver-600: #c1c1c1;
$silver-100: #f6f6f6;
$white: #ffffff;

$green-999: #4d800c;
$green-900: #63a60e;
$green-200: #e0edcf;
$green-100: #eff6e7;
$red-900: #cf3e3b;

$orange-900: #ff7a00;
$yellow-900: #ffb800;

$ruda: "Ruda",
sans-serif;

$xl: 1285px;
$l: 1024px;
$xm: 920px;
$m: 784px;
$s: 500px;