$default: #505050;
$dark-silver:#C1C1C1;
$silver: #F6F6F6;
$dark: #121212;
$black: #000000;
$white: #ffffff;
$dark-green: #31352B;
$green: #63A60F;
$light-green: #E0EDCF;
$ultra-light-green: #EFF6E7;
$red: #CF3E3B;
$orange: #FF7A00;

%btn {
  padding: 12px 24px;
  @extend %open-sans-400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: $green;
  border-radius: 6px;
  color: $white;
}

%form-btn {
  width: 100%;
  border-radius: 0 6px 6px 0;
  color: $white;
  text-transform: uppercase;
}


%ruda-900 {
  font-family: "Ruda", sans-serif;
  font-weight: 900;
}

%ruda-700 {
  font-family: "Ruda", sans-serif;
  font-weight: 700;
}

%ruda-500 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
}

%ruda-400 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
}

%open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

%open-sans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

%open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

%open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}