$black: #000000;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$silver-600:#C1C1C1;
$silver-100: #F6F6F6;
$white: #ffffff;
$green-999: #4D800C;
$green-900: #63A60F;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;



$ruda: "Ruda";

%btn {
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  background-color: $green;
  border-radius: 6px;
  color: $white;
}

%form-btn {
  width: 100%;
  border-radius: 0 6px 6px 0;
  color: $white;
  text-transform: uppercase;
}