.product-item {
  padding: 48px 0 63px;

  @include max-w($l) {
    padding-bottom: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include max-w($l) {
      padding-top: 49px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    max-width: 630px;
    width: 100%;
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: none;

    @include max-w($l) {
      position: absolute;
      top: 200px;
    }
  }

  .badge {
    padding: 6px 8px;
    margin-bottom: 18px;
    width: 52px;
    height: 28px;
    font-size: 16px;
    text-align: center;
  }

  .price {
    padding: 0;
    margin-bottom: 60px;
    display: flex;
    align-items: flex-end;
    font-weight: 700;

    &__old {
      margin-bottom: 0;
      margin-right: 18px;
      font-size: 20px;
    }

    &__new {
      font-size: 30px;
      color: $green-900;
    }

    @include max-w($l) {
      margin-bottom: 30px;
    }
  }
}

.product-slide {
  max-width: 630px;
  width: 100%;
  margin-right: 30px;
  padding: 69px 105px;
  border: 1px solid $silver-600;
  border-radius: 4px;

  @include max-w($xl) {
    max-width: 490px;
    padding: 20px 38px;
  }

  @include max-w($l) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @include max-w($xm) {
    max-width: 348px;
  }

  &__img {
    object-fit: contain;
    margin: auto;

    @include max-w($xm) {
      width: 270px;
      height: 270px;
    }
  }

  .top-slider__arrow-btn {
    &--product-prev {
      left: 22px;
    }

    &--product-next {
      right: 22px;
    }
  }
}

.status-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @include max-w($l) {
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;

    @include max-w($l) {
      margin-bottom: 18px;
    }
  }

  .availability {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }
}

.id-num {
  margin-right: 12px;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 1.2;
  color: $silver-600;
  background-color: $silver-100;
  border-radius: 3px;
}

.order-box {
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .quantity {
    width: 158px;
    height: 44px;
    margin-right: 18px;

    &__form-btn {
      width: 44px;
      height: 44px;
    }

    &__icon {
      width: 30px;
    }

    &__input {
      width: 70px;
      height: 44px;
      font-size: 20px;
    }
  }
}

.buttons-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: 253px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;

    @include max-w($xs) {
      width: 44px;
    }

    &__icon-cart {
      width: 24px;
      height: 23px;
      margin-right: 13px;

      @include max-w($xs) {
        margin-right: 0;
      }
    }

    &__text {
      @include max-w($xs) {
        display: none;
      }
    }
  }

  .btn-heart {
    position: static;
  }
}

.payments-delivery {
  &__title {
    padding-bottom: 18px;
    border-bottom: 1px solid $silver-600;
    font-family: $ruda;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $dark-900;
  }

  &__text {
    padding: 18px 0;
    line-height: 1.6;
  }

  &__link {
    color: $green-900;
    transition: box-shadow 0.5s, text-decoration-line 0.5s, color 0.5s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 3px;
    }

    &:hover {
      text-decoration-line: underline;
    }

    &:active {
      text-decoration-line: underline;
      color: $green-999;
    }
  }
}

.product-tabs {
  border-top: 1px solid $silver-600;
  font-size: 16px;
  line-height: 1.6;

  &__wrap {
    max-width: 690px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__top {
    display: flex;
    justify-content: space-around;
    padding-bottom: 48px;
  }

  &__top-item {
    position: relative;
    padding-top: 16px;
    font-family: $ruda;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $dark-900;

    @include max-w($l) {
      padding-top: 12px;
      font-size: 14px;
    }
  }

  &__top-link {
    transition: color 0.5s;

    &--active {
      color: $green-900;

      &::before {
        @include pseudo;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: $green-900;
      }
    }

    &:hover {
      color: $green-900;
    }
  }

  &__content {
    padding-bottom: 72px;

    @include max-w($l) {
      padding-bottom: 48px;
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__desc p {
    margin-bottom: 35px;
  }

  &__specs-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--bold {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

.reviews {
  &__item {
    margin-bottom: 28px;

    &:not(:last-child) {
      padding-bottom: 18px;
      border-bottom: 1px solid $silver-600;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 24px;
    border-radius: 50%;
  }

  &__personal-data {
    font-size: 14px;
  }

  &__name {
    font-weight: bold;
    line-height: 1.3;
    color: $dark-900;
  }

  &__date {
    line-height: 1.7;
  }
}

.comment {
  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__title {
    margin-right: 18px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include max-w($m) {
      flex-direction: column;
    }
  }

  &__review {
    margin-right: 30px;
    max-height: 198px;

    @include max-w($m) {
      margin-bottom: 18px;
      margin-right: 0;
    }
  }

  &__textarea {
    height: 165px;
    width: 400px;
  }

  &__input {
    width: 260px;
  }

  &__input,
  &__textarea {
    margin-top: 5px;
    padding: 18px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: $silver-600;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }

    @include max-w($m) {
      display: block;
      width: 100%;
    }
  }

  &__user-name {
    display: block;
    margin-bottom: 20px;
  }

  &__save {
    margin-bottom: 24px;
    padding-left: 36px;
  }

  &__input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.comment__save-checkbox {
      background-image: url('../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center center;
      border-color: $dark-500;
    }
  }

  &__save-checkbox {
    position: absolute;
    margin-left: -36px;
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    transition: border-color 0.5s;

    &:hover {
      border-color: $dark-500;
    }
  }
}

.product-title {
  margin-bottom: 30px;
  font-family: $ruda;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $dark-900;
}

.btn {
  &--product-form {
    width: 194px;
  }
}