.btn {
  display: inline-block;
  width: 180px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 400;
  color: $white;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border-radius: 6px;
  background-color: $green-900;
  transition: box-shadow 0.5s, background-color 0.5s, opacity 0.5s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-999;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
  }

  &:active .icon {
    opacity: 0.5;
  }

  @include max-w($l) {
    width: 161px;
    font-size: 16px;
  }

  @include max-w($m) {
    width: 153px;
    font-size: 14px;
  }

  &--white {
    color: $green-900;
    background-color: transparent;
    border: 1px solid $green-900;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 4px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
    }

    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
    }

    @include max-w($l) {
      width: 180px;
      font-size: 18px;
    }

    @include max-w($m) {
      width: 180px;
      font-size: 18px;
    }
  }

  &--cart {
    position: absolute;
    padding: 0;
    bottom: 18px;
    right: 18px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: $green-900;

    @include max-w($m) {
      bottom: 12px;
      right: 8px;
    }
  }

  &__icon-cart {
    margin: auto;
    display: block;
    width: 16px;
    height: 16px;
  }
}