.cart-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.15);
  z-index: 11;
  color: $black;

  &__content {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 474px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: none;
    z-index: 100;
  }

  &__head {
    padding: 19px 24px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    font-size: 14px;
  }

  &__list {
    height: 100%;
    padding: 12px;
    background-color: $silver-100;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 12px;
    width: 100%;
    max-width: 452px;
    margin-bottom: 12px;
    background: $white;
    border: 1px solid $silver-600;
    border-radius: 3px;
  }

  &__img {
    margin-right: 32px;
    height: 60px;
    width: 60px;
    object-fit: contain;
  }

  &__desc {
    margin-right: 12px;
    width: 100%;
    max-width: 170px;
    font-weight: 600;
    align-self: center;
  }

  &__name {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.4;
    @include lineClamp(2);
  }

  &__price {
    font-size: 20px;
    line-height: 1;
    color: $dark-500;
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    padding: 24px;
  }

  &__total {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__currency {
    font-size: 15px;
  }

  &__submit-btn {
    margin-top: auto;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $white;
    padding: 22px;
    background-color: $green-900;
  }
}

.quantity {
  display: flex;
  margin-right: 12px;
  width: 84px;
  height: 24px;


  &__input {
    width: 36px;
    font-size: 16px;
    line-height: 1;
    color: $dark-500;
    background-color: $green-200;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  &__form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: $green-900;
  }

  &__icon {
    width: 16px;
    height: 100%;
    fill: $white;
  }
}

.minus-btn {
  border-radius: 3px 0 0 3px;
}

.plus-btn {
  border-radius: 0 3px 3px 0;
}

.close {
  border-radius: 3px;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
  }

  &:hover {
    background-color: $green-200;
    color: $green-900;
  }

  &:active {
    background-color: rgba($silver-600, 0.3);
  }
}