.filter-mix {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;

  @include max-w($l) {
    margin-bottom: 35px;
  }

  @include max-w($s) {
    flex-wrap: wrap;
    width: 275px;
    margin: 0 auto 10px;
  }

  &--top {
    @include max-w($s) {
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto 10px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    &--margin:not(:last-child) {
      margin-right: 34px;
    }

    @include max-w($s) {
      margin-bottom: 15px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: color 0.5s, box-shadow 0.5s, border-bottom 0.5s;

    @include max-w($m) {
      font-size: 14px;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &.mixitup-control-active {
      position: relative;
      color: $green-900;

      &::after {
        @include pseudo;
        width: 100%;
        height: 3px;
        background-color: $green-200;
      }
    }
  }
}