.footer {
  background-color: $dark-800;
  padding: 30px 0;
  color: $white;

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__body {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 18px;
    @include lineClamp(2);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 467px;
    width: 100%;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    display: block;
    margin-bottom: 18px;
  }

  &__desc {
    display: block;
    margin-bottom: 18px;
  }

  &__bottom {
    border-top: 1px solid $dark-500;
    padding-top: 28px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    display: flex;
    align-items: center;
  }
}

.form-subscr {
  display: flex;
  max-width: 306px;
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 18px;
  }

  &__field {
    max-width: 180px;
    width: 100%;
    padding: 12px;
    border-radius: 6px 0 0 6px;
    transition: box-shadow 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  &__btn {
    font-weight: 700;
    width: 100%;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    max-width: 126px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: normal;
  }
}

.payments {
  display: flex;

  &__item {
    height: 29px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--visa {
      margin-right: 24px;
      width: 93px;
    }

    &--mastercard {
      width: 49px;
    }
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    height: 32px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}