.footer {
  background-color: $dark-800;
  padding: 30px 0;
  color: $white;

  @include max-w($xm) {
    padding: 24px 0;
  }

  &__logo {
    margin: 0 30px 30px 0;
    display: block;

    @include max-w($xm) {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }

  &__body {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include max-w($xm) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__form-wrap {
    margin-right: 75px;

    @include max-w($xl) {
      margin-right: 50px;
    }

    @include max-w($xm) {
      margin-right: 0;
      padding: 24px 0;
    }
  }

  &__text {
    margin-bottom: 18px;
    @include lineClamp(2);
  }

  &__list {
    position: relative;
    column-count: 3;
    column-gap: 75px;

    @include max-w($xl) {
      column-gap: 50px;
      column-count: 2;
    }

    @include max-w($xm) {
      padding: 24px 0 24px 34px;
      order: -1;

      &::before {
        @include pseudo;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba($white, 0.1);
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contact {
    position: relative;
    display: flex;
    flex-direction: column;

    @include max-w($xm) {
      padding: 24px 0;
      order: -2;

      &::before {
        @include pseudo;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba($white, 0.1);
      }
    }
  }

  &__phone {
    display: block;
    margin-bottom: 18px;
  }

  &__desc {
    display: block;
    margin-bottom: 18px;
  }

  &__bottom {
    border-top: 1px solid $dark-500;
    padding-top: 28px;

    @include max-w($xm) {
      padding-top: 24px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include max-w($xm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copy {
    display: flex;
    align-items: center;
  }
}

.form-subscr {
  display: flex;
  max-width: 306px;
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 18px;
  }

  &__field {
    max-width: 180px;
    width: 100%;
    padding: 12px;
    border-radius: 6px 0 0 6px;
    transition: box-shadow 0.5s;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  &__btn {
    font-weight: 700;
    width: 100%;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    max-width: 126px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: normal;
  }
}

.payments {
  display: flex;

  @include max-w($xm) {
    order: -1;
    margin-bottom: 24px;
  }

  &__item {
    height: 29px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--visa {
      margin-right: 24px;
      width: 93px;
    }

    &--mastercard {
      width: 49px;
    }
  }
}

.social {
  display: flex;

  @include max-w($m) {
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    height: 32px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}