.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($black, 0.15);
  z-index: 11;

  &__content {
    background-color: $white;
    max-width: 300px;
    padding: 26px 0 24px 0;
    z-index: 100;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 10px 26px 15px;
  }

  &__user-nav {
    display: flex;
    padding: 15px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    background-color: $green-900;
  }

  &__item {
    padding-left: 20px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--user {
      position: relative;
      padding-left: 40px;
      padding-right: 10px;

      &::before {
        @include pseudo;
        top: 50%;
        left: 0;
        width: 25px;
        height: 32px;
        background-image: url('../../images/icons/icon-user.svg');
        transform: translateY(-50%);
      }

      &::after {
        @include pseudo;
        top: 50%;
        right: -6px;
        width: 2px;
        height: 18px;
        transform: translateY(-50%);
        background-color: $white;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    padding: 24px 15px;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: capitalize;
  }

  &__phone {
    position: relative;
    padding: 12px 0 12px 40px;

    &::before {
      @include pseudo;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url('../../images/icons/icon-tel.svg');
    }
  }

  &__desc {
    position: relative;
    padding: 12px 0 12px 40px;
    margin-bottom: 6px;

    &::before {
      @include pseudo;
      width: 24px;
      height: 32px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url('../../images/icons/icon-point.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .social {
    .icon {
      fill: $black;
    }
  }
}

.catalog-mobile {
  display: block;
  max-width: 300px;
  width: 100%;

  .catalog__btn {
    width: 100%;
    padding: 14px 72px 14px 40px;
    border-radius: 0;
    font-size: 18px;
    line-height: 1;
    color: $black;
    border-bottom: 1px solid rgba($black, 0.3);
    ;

    &::before {
      left: 10px;
      height: 20px;
      background-image: url('../../images/icons/nav_icon--black.svg');
    }

    &::after {
      display: none;
    }
  }

  .catalog__item {
    font-size: 14px;
    line-height: 1;
  }

  .catalog__link {
    padding: 10px 20px;
  }
}

.nav-menu {
  padding-left: 15px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: $dark-800;

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

}