.products {
  padding: 72px 0;
  text-align: center;
  min-height: 304px;

  @include max-w($l) {
    padding: 52px 0;
  }

  @include max-w($m) {
    padding: 48px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__item {
    width: calc((100% / 4) - 30px);
    margin: 0 15px 30px;

    @include max-w($xl) {
      width: 300px;
    }

    @include max-w($xs) {
      width: calc((100% / 2) - 6px);
      margin: 0 3px 6px;
    }
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  width: 100%;
  max-height: 409px;
  min-height: 304px;
  height: 100%;
  padding: 57px 1px 18px;
  border-radius: 6px;
  text-align: start;

  @include max-w($m) {
    padding: 57px 1px 10px;
  }

  &__link {
    position: relative;
    margin-bottom: 10px;

    @include max-w($m) {
      margin-bottom: 16px;
    }

    &::before {
      @include pseudo;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 215px;
      height: 100%;
      background-color: rgba($black, 0);
      z-index: 1;
      transition: background-color 0.5s;
    }

    &:hover::before {
      background-color: rgba($black, 0.1);
    }

    &:hover {
      .product-card__popup {
        opacity: 1;
      }
    }
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
  }

  &__popup-icon {
    width: 20px;
    height: 20px;
    fill: $green-900;
  }

  &__img {
    max-width: 300px;
    width: 100%;
    max-height: 225px;
    height: 100%;
    object-fit: contain;
  }

  &__name {
    padding: 0 14px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 600;
    color: $dark-900;
    @include lineClamp(3);
  }

  &__wrap {
    width: 100%;
    height: 118px;
    display: flex;
    flex-direction: column;
  }
}

.btn-heart {
  position: absolute;
  top: 17px;
  right: 12px;
  display: flex;
  transition: box-shadow 0.5s, fill 0.5s, opacity 0.5s;

  @include max-w($m) {
    right: 9px;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &:hover .btn-heart__icon {
    fill: $orange-900;
  }

  &:active .btn-heart__icon {
    opacity: 0.5;
  }

  &__icon {
    fill: $silver-600;
    width: 32px;
    height: 28px;
    transition: fill 0.5s, opacity 0.5s;

    @include max-w($m) {
      width: 24px;
      height: 21px;
    }
  }
}

.price {
  margin-top: auto;
  line-height: 1;
  padding: 0 14px;

  @include max-w($m) {
    padding: 0 10px;
  }

  &--mini {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    margin-right: 4px;
    max-width: 119px;
    width: 100%;
  }

  &__new {
    display: block;

    &--mini {
      font-weight: 600;
      margin-right: 12px;
      font-size: 20px;
      color: $dark-500;
    }
  }

  &__old {
    padding: 0;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    color: $silver-600;

    &::before {
      @include pseudo;
      border-bottom: 1px solid $silver-600;
      position: absolute;
      width: 100%;
      height: 50%;
      transform: rotate(-15deg);
    }

    &--mini {
      font-weight: 400;
      font-size: 12px;
      color: $silver-600;
    }
  }

  &__currency {
    font-size: 15px;
  }
}