<footer class="footer">
	<div class="container">
		<a class="logo footer__logo" href="#">
			<img class="logo__img" src="images/logo.svg" width="200" height="60">
		</a>
		<div class="footer__body">
			<div class="footer__form-wrap">
				<div class="footer__text">
					<p>Следите за нашими акциями</p>
				</div>
				<form class="form-subscr" action="#" method="get">
					<label class="sr-only" for="email">
						Введите электронную почту чтобы подписаться
					</label>
					<input class="form-subscr__field" type="email" name="email" id="email"
						placeholder="email@email.com" required>
					<button class="btn form-subscr__btn" type="submit">
						Подписаться
					</button>
				</form>
			</div>

			<div class="footer__nav">
				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link status" href="#">
							О нас
						</a>
					</li>
					<li class=" footer__item">
						<a href="" class="footer__link status" href="#">
							Контакты
						</a>
					</li>
					<li class="footer__item">
						<a class="footer__link status" href="#">
							Публичная оферта
						</a>
					</li>
				</ul>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link status" href="#">
							Оплата и доставка
						</a>
					</li>
					<li class="footer__item">
						<a class="footer__link status" href="#">
							Вакансии
						</a>
					</li>
					<li class="footer__item">
						<a class="footer__link status" href="#">
							Акции
						</a>
					</li>
				</ul>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footey__link status" href="#">
							Отзывы
						</a>
					</li>
					<li class="footer__item">
						<a class="footer__link status" href="#">
							Новости
						</a>
					</li>
				</ul>
			</div>

			<address class="footer__contact">
				<a class="footer__phone status" href="tel:+7907288365">
					Горячая линия +7 907 288 365
				</a>
				<span class="footer__desc">
					Санкт-Петербург, ул. Ленина, 1ß
				</span>

				<ul class="social">
					<li class="social__item">
						<a class="social__link status" href="#" target="_blank">
							<svg class="social__icon icon">
								<use xlink:href="images/sprite.svg#facebook"></use>
							</svg>
							<span class="sr-only">Перейти в Фейсбук</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link status" href="#" target="_blank">
							<svg class="social__icon icon">
								<use xlink:href="images/sprite.svg#youtube"></use>
							</svg>
							<span class="sr-only">Перейти в Ютуб</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link status" href="#" target="_blank">
							<svg class="social__icon icon">
								<use xlink:href="images/sprite.svg#telegram"></use>
							</svg>
							<span class="sr-only">Перейти в Телеграм</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link status" href="#" target="_blank">
							<svg class="social__icon icon">
								<use xlink:href="images/sprite.svg#instagram"></use>
							</svg>
							<span class="sr-only">Перейти в Инстаграм</span>
						</a>
					</li>
				</ul>
			</address>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="container">
			<div class="footer__wrap">
				<div class="footer__copy">© 2021 Фрешок</div>
				<ul class="payments">
					<li class="payments__item payments__item--visa"
						style="background-image: url(images/icons/visa.svg);">
					</li>
					<li class="payments__item payments__item--mastercard"
						style="background-image: url(images/icons/mastercard.svg);">
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>