<div class="mobile-menu">
	<div class="mobile-menu__logo">
		<a class="logo" href="#">
			<picture>
				<source srcset="images/logo/logo-mobile.svg" sizes="min-width: 200px">
				<img class="logo__mobile-img" srcset="images/logo/logo-mobile.svg"
					alt="Логотип онлайн-маркета Фрешок">
			</picture>
		</a>

		<button class="burger-btn burger-btn--close close" type="button">
			<span
				class="burger-btn__line burger-btn__line--close burger-btn__line--mobile"></span>
			<span class="sr-only">Закрыть окно менюу</span>
		</button>
	</div>

	<ul class="mobile-menu__user-nav">
		<li class="mobile-menu__item mobile-menu__item--user">
			<a class="mobile-menu__login" href="#">
				Вход
			</a>
		</li>

		<li class="mobile-menu__item">
			<a class="mobile-menu__registration" href="#">
				Регистрация
			</a>
		</li>
	</ul>

	<div class="catalog catalog-mobile">
		<button class="catalog__btn" type="button">Каталог продуктов
		</button>

		<ul class="catalog__list">
			<li class="catalog__item">
				<a class="catalog__link" href="#">Овощи и фрукты</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Бакалея</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">
					Молочные продукты
				</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Хлеб</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Мясо</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Колбаса</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Рыба</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Алкоголь</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Напитки</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Торты</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Мясо</a>
			</li>

			<li class="catalog__item">
				<a class="catalog__link" href="#">Чай, кофе</a>
			</li>
		</ul>