<section class="products">
  <div class="container">
    <h2 class="title">Топовые товары</h2>

    <ul class="filter-mix filter-mix--top">
      <li class="filter-mix__item">
        <button class="filter-mix__link" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__link" type="button" data-filter=".category-fruits">
          Фрукты
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__link" type="button"
          data-filter=".category-vegetables">
          Овощи
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__link" type="button" data-filter=".category-drinks">
          Напитки
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__link" type="button" data-filter=".category-grocery">
          Бакалея
        </button>
      </li>
    </ul>

    <ul class="products__content">
      <li class="products__item mix category-fruits">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--new">Новинка</span>
            <span class="badge badge--discount">-50%</span>
          </div>
          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/pineapple.png"
              alt="Ананас" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability  availability--end">Заканчивается</span>
              <div class="rate">
                <span class="rate__num">3.5</span>
                <span class="rate__star"></span>
              </div>
            </div>

            <h3 class="product-card__name">Ананас, 1кг</h3>
            <div class="price">
              <span class="price__old">
                1999 <span>₽</span>
              </span>
              <span class="price__new">
                999 <span>₽</span>
              </span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-fruits">
        <article class="product-card product-status">
          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/lemon.png" alt="Лимон"
              width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability  availability--end">
                Заканчивается
              </span>

              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>

            <h3 class="product-card__name">Лимон, 1кг</h3>

            <div class="price">
              199 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-fruits">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--hit">Хит</span>
          </div>

          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/dragon-fruit.png"
              alt="Питахайя" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability  availability--end">Заканчивается</span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>

            <h3 class="product-card__name">Питахайя красная с белой мякотью,
              1шт
            </h3>
            <div class="price">
              1019 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>

        </article>
      </li>

      <li class="products__item mix category-grocery">
        <article class="product-card product-status">
          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/ketchup.png"
              alt="Кетчуп томатный детский органический" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability availability--finish">
                Нет в наличии
              </span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>
            <h3 class="product-card__name">
              Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
            </h3>

            <div class="price">
              600 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-vegetables">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--hit">Хит</span>
          </div>

          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/carrot.png"
              alt="Морковь молодая" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability">В наличии</span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>
            <h3 class="product-card__name">
              Морковь молодая с бабушкиной грядки, 1кг
            </h3>

            <div class="price">
              49 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-drinks">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--discount">-30%</span>
          </div>

          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/juice.png"
              alt="Напиток сокосодержащий Sanpellegrino" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability  availability--end">Заканчивается</span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>
            <h3 class="product-card__name">
              Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный
              апельсин безалкогольн...
            </h3>

            <div class="price">
              <span class="price__old">
                1999 <span>₽</span>
              </span>
              <span class="price__new">
                999 <span>₽</span>
              </span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-grocery">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--new">Новинка</span>
          </div>

          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/coffee.png"
              alt="Кофе с коноплей" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability  availability--end">Заканчивается</span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>
            <h3 class="product-card__name">
              Кофе с коноплей органический Caffé Salomoni 250г
            </h3>

            <div class="price">
              877 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>

      <li class="products__item mix category-vegetables">
        <article class="product-card product-status">
          <div class="product-card__badges">
            <span class="badge badge--new">Новинка</span>
          </div>

          <button class="btn-heart" type="button">
            <svg class="btn-heart__icon">
              <use xlink:href="images/sprite.svg#badge-heart"></use>
            </svg>
            <span class="sr-only">Добавить в избранное</span>
          </button>

          <a class="product-card__link" href="#">
            <span class="product-card__popup">
              <svg class="product-card__popup-icon">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </span>
            <img class="product-card__img" src="images/products/paprik.png"
              alt="Перец оранжевый" width="300" height="225">
          </a>

          <div class="product-card__wrap">
            <div class="availability-box">
              <span class="availability">В наличии</span>
              <div class="rate">
                <span class="rate__num">4.5</span>
                <span class="rate__star"></span>
              </div>
            </div>
            <h3 class="product-card__name">Перец оранжевый, 1кг</h3>

            <div class="price">
              349 <span>₽</span>
            </div>
          </div>

          <button class="btn btn--cart" type="button">
            <svg class="btn__icon-cart icon">
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">Добавить в корзину</span>
          </button>
        </article>
      </li>
    </ul>

    <button class="btn btn--white" type="button">
      Показать еще
    </button>
  </div>
</section>