.discounts {
  padding: 72px 0;
  text-align: center;


  @include max-w($xl) {
    padding: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 18px;
  }

  &__item {
    width: calc((100% / 4) - 30px);
    margin: 0 15px 30px;

    @include max-w($xl) {
      width: 300px;
      margin: 0 7px 14px;
    }
  }
}

.card-mini {
  border-radius: 6px;

  &__link {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    padding: 12px;
  }

  &__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 12px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 164px;
    height: 100px;
    text-align: start;
  }

  &__name {
    font-weight: 600;
    @include lineClamp(3);
  }

  &__bottom {
    width: 100%;
    font-weight: 600;
    line-height: 1;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.availability {
  margin-bottom: 5px;
  font-size: 10px;
  color: $green-900;
  text-transform: uppercase;

  &--end {
    color: $red-900;
  }

  &--finish {
    color: $silver-600;
  }
}

.rate {
  display: flex;
  align-items: center;

  &__num {
    font-weight: 700;
    color: $dark-500;
  }
}