.partners {
  padding: 72px 0;

  @include max-w($l) {
    padding: 52px 0;
  }

  &__list {
    justify-content: center;
  }

  &__item {
    max-width: 80px;
    width: 100%;
    margin: auto 0;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:not(:last-child) {
      margin-right: 140px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    width: 80px;
    height: 60px;
    object-fit: contain;
  }

  .slick-slide {
    display: flex;
    justify-content: space-around;
  }
}